* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.pd-15 {
  padding: 0 15px;
}

.mg-top-0 {
  margin-top: 0;
}

.mg-10 {
  margin: 10px 0;
}

.main {
  min-height: 76vh;
}

.main-header {
  background-color: #65CBF3;
}